extends layout

block content
  h1= title
  - let plantid = toShow._id
  - let type = toShow.type
  - let name = toShow.name
  - let cost = toShow.cost

  div.row(class='mb-2')
  div.mr-1 ID is
  div #{plantid}
  - let actionid = "/resource/plant/" + plantid
  form(id='PlantForm',  action= actionid, method="PUT")
    div.form-group
        label.plantAttr(for='type') Plant Type
        input#name(type='text', name='type', value=type)
    div.form-group
        label.plantAttr(for='name') Plant Name
        input#name(type='text', name='name', value=name)
    div.form-group
        label.plantAttr(for='cost') Plant Cost
        input#cost(type='number', name='cost', value=cost)
    input.button(type="submit")

  script. 
    document.forms['PlantForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 